{% extends "src/nunjucks/templates/indexTemplate.njk" %}
{% from "src/nunjucks/templates/components/models/carousel.njk" import winerCarousel, jackpot %}
{% set title = "Casino" %}


{% block jackpot %}
    <div class="jackpot">
         <div class=" jackpot-container">
             <div class="winner-box">
                 <div class="jackpot-text">
                     last winners
                 </div>
                 {{ winerCarousel('winerCarousel') }}
             </div>
             <div class="jackpot-box">
                 <div class="jackpot-text-number">
                     jackpot
                 </div>
                 <div class="jackpot-content">
                     {{ jackpot('jackpot-number') }}
                 </div>
             </div>
         </div>
    </div>
    </div>
{% endblock %}

{% block games %}
{#    <div class="game-container">#}
{#        <div class="game-menu">#}
{#            <div class="container game-menu-box">#}
{#                <div class="filter-list">#}
{#                    <div class="row ">#}
{#                        <div class="col">#}
{#                            <div class="filter-list-butt">#}
{#                                <a class="filter-list-text">#}
{#                                    <img class="filter-img" src="images/POPULAR.png" alt="">#}
{#                                    popular#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col">#}
{#                            <div class="filter-list-butt">#}
{#                                <a class="filter-list-text">#}
{#                                    <img class="filter-img" src="images/NEW.png" alt="">#}
{#                                    new#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col">#}
{#                            <div class="filter-list-butt">#}
{#                                <a class="filter-list-text">#}
{#                                    <img class="filter-img" src="images/SLOTGAME.png" alt="">#}
{#                                    slot games#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col">#}
{#                            <div class="filter-list-butt">#}
{#                                <a class="filter-list-text">#}
{#                                    <img class="filter-img" src="images/CARDS.png" alt="">#}
{#                                    card games#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col">#}
{#                            <div class="filter-list-butt">#}
{#                                <a class="filter-list-text">#}
{#                                    <img class="filter-img" src="images/ROULETTE.png" alt="">#}
{#                                    roulette#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="filter-group">#}
{#                        <div class="filter-sort">#}
{#                            <div class="filter-sort">sort by: </div>#}
{#                            <a href="" class="filter-sort"> popular</a>#}
{#                            <div class="filter-sort">|</div>#}
{#                            <a href="" class="filter-sort">A-Z</a>#}
{#                        </div>#}
{#                        <div class="input-group mb-3 search-filter">#}
{#                            <input type="text" class="form-control search-input" placeholder="Search form" aria-label="Search form" aria-describedby="basic-addon2">#}
{#                            <div class="input-group-append">#}
{#                            <span class="input-group-text search-span" id="basic-addon2">#}
{#                                <img src="images/search.png" alt="">#}
{#                            </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="games-list ">#}
{#                    <div id="gameList" class="row game-list-box">#}
{#                        <div id="gamesMobil" class="col-7 first-list games-first-box">#}
{#                            <div class="row">#}
{#                                <div class="col ">#}
{#                                    <div class="card" id="16">#}
{#                                        <img src="images/LuckyMagic.png" alt="">#}
{#                                        <div class="overlay">#}
{#                                            <div class="play-now-container">#}
{#                                                <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                                <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-text">lucky magic</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col">#}
{#                                    <div class="card" id="17">#}
{#                                        <img src="images/AnubisSecret.png" alt="">#}
{#                                        <div class="overlay">#}
{#                                            <div class="play-now-container">#}
{#                                                <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                                <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-text">anubis'secret</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col">#}
{#                                    <div class="card" id="18">#}
{#                                        <img src="images/DreamOfKnight.png" alt="">#}
{#                                        <div class="overlay">#}
{#                                            <div class="play-now-container">#}
{#                                                <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                                <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-text">dream of knight</div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                <div class="col">#}
{#                                    <div class="card" id="19">#}
{#                                        <img src="images/LuckyMagic.png" alt="">#}
{#                                        <div class="overlay">#}
{#                                            <div class="play-now-container">#}
{#                                                <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                                <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-text">lucky magic</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col">#}
{#                                    <div class="card" id="20">#}
{#                                        <img src="images/AnubisSecret.png" alt="">#}
{#                                        <div class="overlay">#}
{#                                            <div class="play-now-container">#}
{#                                                <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                                <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-text">anubis'secret</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col">#}
{#                                    <div class="card" id="21">#}
{#                                        <img src="images/DreamOfKnight.png" alt="">#}
{#                                        <div class="overlay">#}
{#                                            <div class="play-now-container">#}
{#                                                <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                                <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="card-text">dream of knight</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-5 first-list promotion-box">#}
{#                            <div class="promotion-container">#}
{#                                <div class="promotion">#}
{#                                    <div class="promotion-content">promotion</div>#}
{#                                </div>#}
{#                                <div class="bd-example">#}
{#                                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">#}
{#                                        <ol class="carousel-indicators">#}
{#                                            <li data-target="#carouselExampleCaptions" id="indicator" data-slide-to="0" class="active"></li>#}
{#                                            <li data-target="#carouselExampleCaptions" id="indicator" data-slide-to="1"></li>#}
{#                                            <li data-target="#carouselExampleCaptions" id="indicator" data-slide-to="2"></li>#}
{#                                            <li data-target="#carouselExampleCaptions" id="indicator" data-slide-to="3"></li>#}
{#                                        </ol>#}
{#                                        <div class="carousel-inner">#}
{#                                            <div class="carousel-item active">#}
{#                                                <img src="images/sliderImage.png" class="d-block w-100" alt="...">#}
{#                                                <div class="carousel-caption d-none d-md-block">#}
{#                                                    <img src="images/sliderText.png" alt="">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="carousel-item">#}
{#                                                <img src="images/sliderImage.png" class="d-block w-100" alt="...">#}
{#                                                <div class="carousel-caption d-none d-md-block">#}
{#                                                    <img src="images/sliderText.png" alt="">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="carousel-item">#}
{#                                                <img src="images/sliderImage.png" class="d-block w-100" alt="...">#}
{#                                                <div class="carousel-caption d-none d-md-block">#}
{#                                                    <img src="images/sliderText.png" alt="">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="carousel-item">#}
{#                                                <img src="images/sliderImage.png" class="d-block w-100" alt="...">#}
{#                                                <div class="carousel-caption d-none d-md-block">#}
{#                                                    <img src="images/sliderText.png" alt="">#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div id="games" class="row">#}
{#                            <div class="col">#}
{#                                <div class="card" id="1">#}
{#                                    <img src="images/LuckyMagic.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">lucky magic</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="2">#}
{#                                    <img src="images/AnubisSecret.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">anubis'secret</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="3">#}
{#                                    <img src="images/DreamOfKnight.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">dream of knight</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="4">#}
{#                                    <img src="images/Submarine.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">Submarine adventure</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="5">#}
{#                                    <img src="images/MoneyScent.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">the big money scent</div>#}
{#                                </div>#}
{#                            </div>#}

{#                            <div class="col">#}
{#                                <div class="card" id="6">#}
{#                                    <img src="images/LuckyMagic.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">lucky magic</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="7">#}
{#                                    <img src="images/AnubisSecret.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">anubis'secret</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="8">#}
{#                                    <img src="images/DreamOfKnight.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">dream of knight</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="9">#}
{#                                    <img src="images/Submarine.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">Submarine adventure</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="10">#}
{#                                    <img src="images/MoneyScent.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">the big money scent</div>#}
{#                                </div>#}
{#                            </div>#}

{#                            <div class="col">#}
{#                                <div class="card" id="11">#}
{#                                    <img src="images/LuckyMagic.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">lucky magic</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="12">#}
{#                                    <img src="images/AnubisSecret.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">anubis'secret</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="13">#}
{#                                    <img src="images/DreamOfKnight.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">dream of knight</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="14">#}
{#                                    <img src="images/Submarine.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">Submarine adventure</div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col">#}
{#                                <div class="card" id="15">#}
{#                                    <img src="images/MoneyScent.png" alt="">#}
{#                                    <div class="overlay">#}
{#                                        <div class="play-now-container">#}
{#                                            <button class="play-now button-blu box-blu button-blu box-blu button-hover-blu">play now</button>#}
{#                                            <button class="demo button-red box-red button-hover-red">demo</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="card-text">the big money scent</div>#}
{#                                </div>#}
{#                            </div>#}

{#                        </div>#}
{#                    </div>#}
{#                    <div class="row more-game-content">#}
{#                        <button class="more-game button-blu box-blu button-hover-blu">more games</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="grid">
        <div class="box1">One</div>
        <div class="box2">Two</div>
        <div class="box3">Three</div>
        <div class="box4">Four</div>
        <div class="box5">Five</div>
    </div>

{% endblock %}
