{% extends "src/nunjucks/templates/indexTemplate.njk" %}

{% set navActiveItem = 0 %}
{% set title = "Nunjucks + Gulp!" %}

{% block body %}
    {% include "src/nunjucks/content/hed.njk" %}
    <div class="container">
        <div class="row">
        </div>
    </div>
    {% include "src/nunjucks/content/footer.njk" %}
{% endblock %}

