.game-menu {
  padding: 2rem 0;
  font-family: 'Roboto Condensed', sans-serif;

  .filter-list {
    .filter-list-butt {
      width: 100%;
      background: none;
      border: 2px solid rgb(255, 206, 129);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 9pt 2pt #a54635, inset 0 0 9pt 2pt #a54635;
      cursor: pointer;

      .filter-list-text {
        //text-align: center;
        text-decoration: none;
        font-size: 18px;
        color: rgb(242, 222, 123);
        text-shadow: 0 0 5px #a54635, 0 0 10px #a54635, 0 0 15px #a54635, 0 0 20px #a54635, 0 0 30px #a54635, 0 0 40px #a54635, 0 0 20px #a54635, 0 0 20px #a54635;
        cursor: pointer;
      }
    }
    .filter-list-butt:hover {
      box-shadow: 0 0 9pt 4pt #a54635, inset 0 0 9pt 4pt #a54635;
    }

    .filter-group {
      display: flex;
      padding: 10px 0;

      .filter-sort {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        text-transform: uppercase;
        color: #ffffff;

      }

      .search-filter {
        width: 235px;
        height: 33px;
        margin: 0 0 0 auto;
        border: 2px solid rgb(129, 251, 255);
        border-radius: 4px;
        box-shadow: 0 0 9pt 2pt rgba(118,215,230,1), inset 0 0 9pt 2pt rgba(118,215,230,1);
        display: flex;
        align-items: center;

        .search-input {
          font-style: italic;
          padding: 0 0 0 10px;
          border: 0;
          height: 100%;
          background: none;
          opacity: 0.5;
        }

        .search-span {
          height: 100%;
          width: 100%;
          padding: 0;
          border: 0;
          background: none;

        }
      }
    }
  }

  .games-list {
    font-family: 'Roboto Condensed', sans-serif;

    .first-list {
      padding: 0;
    }
    .card {
      width: 190px;
      height: 140px;
      background: none;
      margin: 0.4rem 0;
      .card-text {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 300;
      }
    }

    .promotion-container {
      width: 85%;
      margin-left: 42px;

      .promotion {
        margin-bottom: 10px;
        -webkit-box-shadow: 0px 0px 24px 1px rgba(214, 240, 255, 0.84);
        box-shadow: 0px 0px 24px 1px rgba(214, 240, 255, 0.84);

        .promotion-content {
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #d6f0ff;
          border-radius: 2px;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.2;
          text-transform: uppercase;


        }

      }
    }

    .overlay {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 90%;
      background: rgba(0, 0, 0, .8);
      display: none;

      .play-now-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .play-now {
          margin: 10px;
          padding: 2px 15px;
          color: #76d7e6;
          text-transform: uppercase;
        }

        .demo {

          padding: 2px 10px;
          border: 2px solid #f5bc76;
          border-radius: 2px;
          color: #f5bc76;
          text-transform: uppercase;
        }
      }
    }

    .overlay-flex {
      display: flex;
    }

    .more-game-content {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem;

      .more-game {
        color: #81fbff;
        border: 2px solid #81fbff;
        border-radius: 2px;
        text-transform: uppercase;
        padding: 3px 30px;
      }

    }

  }
}

.carousel-indicators {
  right: 290px;
  bottom: 210px;
  margin: 0;
  #indicator {
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }

}
@media screen and(max-width: 1024px) {
  .game-menu-box {
    width: 80%;
    .promotion-box {
      display: none;
    }
    .games-first-box {
      max-width: 100%;
      flex: none;
    }
  }
  .filter-img {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .carousel-indicators {
    right: 400px;
    bottom: 400px;
    margin: 0;

  }
  .game-menu-box {
    width: 75%;

    .game-list-box {
      flex-direction: column;

      .games-first-box {
        max-width: 100%;
        order: 1;
      }

      .promotion-box {
        padding-bottom: 1rem;
        max-width: 100%;
        order: 0;
      }
    }
  }

}
@media screen and (max-width: 768px) {
  .filter-list {
    display: none;
  }
  .game-menu-box {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .game-menu-box {
    width: 100%;
  }
}



