.footer {
  background: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  .footer-nav {
    width: 100%;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    color: rgb(162, 161, 161);
    cursor: pointer;
    .footer-nav-content {
      display: flex;
      justify-content: center;
      align-items: center;
      .footer-text {
        font-size: 15px;
        color: rgb(162, 161, 161);
        text-transform: uppercase;
        line-height: 1.2;
        text-decoration: none;
        margin: 0 0.5rem;

      }
      .footer-text:hover {
        color: rgb(242, 222, 123);
      }
    }
  }
  .footer-payment-list {
    width: 100%;
    display: flex;
    margin: 0 0 5rem 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .payment-list {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      justify-content: center;
      align-items: center;
      .payment {
        margin: .5rem;
        cursor: pointer;

      }
    }
  }
}
@media screen and (max-width: 768px) {
  .footer > .container >.footer-nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .footer-payment-img {
    width: 100px;
  }
}
