.jackpot {
  grid-area: jackpot;
  background: #000000;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1rem 0;
  .jackpot-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .jackpot-count {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .jackpot-text {
      margin: 13px 55px 30px 55px;
      font-size: 18px;
      text-transform: uppercase;
      color: #ffce81;
      line-height: 1.111;
      text-shadow: 0 0 5px #a54635, 0 0 10px #a54635, 0 0 15px #a54635, 0 0 20px #a54635, 0 0 30px #a54635, 0 0 40px #a54635, 0 0 20px #a54635, 0 0 20px #a54635;
    }
    .jackpot-text-number {
      margin: 13px 13px;
      font-size: 18px;
      text-transform: uppercase;
      color: #ffce81;
      line-height: 1.111;
      text-shadow: 0 0 5px #a54635, 0 0 10px #a54635, 0 0 15px #a54635, 0 0 20px #a54635, 0 0 30px #a54635, 0 0 40px #a54635, 0 0 20px #a54635, 0 0 20px #a54635;
    }
    .winerCarousel {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      .swiper-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .win-card {
        display: flex;
        flex-direction: row;
        margin: 0 10px;
        width: 150px;
        .win-card-img {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .win-card-info {
          margin-left: 10px;
          color: rgb(255, 255, 255);
          font-weight: bold;
          font-size: 11px;
          .win-game {
            text-transform: uppercase;
          }
          .win-value {
            color: #b5a65c;
          }
          .win-name {
            text-transform: capitalize;
          }
        }
      }
    }
      .jackpot-number {
        display: flex;
        align-items: center;
      }

  }
}
//.winner-box {
//  max-width: 60%;
//  .winerCarousel {
//    width: 90%;
//  }
//
//}
//.jackpot-box {
//  max-width: 40%;
//}
 @media screen and (max-width: 1023px) {
   .jackpot .jackpot-container .jackpot-text {
     margin-left: 10px;
   }
   .jackpot > .jackpot-container{
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr;
     margin-top: 20px;
     .winner-box {
       max-width: 100%;
       .winerCarousel {
         width: 100%;
       }
     }
     .jackpot-box {
       max-width: 100%;
     }
   }
 }

@media screen and (max-width: 767px) {
  .jackpot .jackpot-container .jackpot-text {
    margin-left: 10px;
  }
}
@media screen and (max-width: 500px) {
  .jackpot-box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .jackpot-number {
    flex-direction: column;
  }
  .jackpot-container > .winner-box > .jackpot-text {
    margin: 1rem;
  }
  .winner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .jackpot-number > .win-card {
      padding: 0.5rem 0;
    }
  }
}

