.jackpot {
  background: #000000;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  .jackpot-container {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    .jackpot-text {
      margin: 13px 55px 30px 55px;
      font-size: 18px;
      text-transform: uppercase;
      color: #ffce81;
      line-height: 1.111;
      text-shadow: 0 0 5px #a54635, 0 0 10px #a54635, 0 0 15px #a54635, 0 0 20px #a54635, 0 0 30px #a54635, 0 0 40px #a54635, 0 0 20px #a54635, 0 0 20px #a54635;
    }
    .jackpot-text-number {
      margin: 13px 13px;
      font-size: 18px;
      text-transform: uppercase;
      color: #ffce81;
      line-height: 1.111;
      text-shadow: 0 0 5px #a54635, 0 0 10px #a54635, 0 0 15px #a54635, 0 0 20px #a54635, 0 0 30px #a54635, 0 0 40px #a54635, 0 0 20px #a54635, 0 0 20px #a54635;
    }
    .win-players {
      display: flex;
      justify-content: center;
      align-items: center;
      .win-card {
        display: flex;
        margin: 0 10px;
        .win-card-img {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .win-card-info {
          margin-left: 10px;
          color: rgb(255, 255, 255);
          font-weight: bold;
          font-size: 11px;
          .win-game {
            text-transform: uppercase;
          }
          .win-value {
            color: #b5a65c;
          }
          .win-name {
            text-transform: capitalize;
          }
        }
      }
    }
    .jackpot-content {
      display: flex;
      .jackpot-number {
        display: flex;
        align-items: center;
      }

    }
  }
}
 @media(max-width: 1024px) {
   .jackpot-container{
     display: flex;
     justify-content: center;
     align-items: start;
     flex-direction: column;
     .winner-box {
       max-width: 100%;
     }
     .jackpot-box {
       max-width: 100%;
     }
   }
 }

@media (max-width: 1199px) {
  .filter-list-text {
    font-size: 14px!important;
  }
}
