.logo {
  grid-area: logo;
}

.slider {
  background: url("../../src/images/slider.png") no-repeat;
  background-size: 100%;
  height: 324px;
}
@media (max-width: 1440px) {
  .slider {
    background: url("../../src/images/slider.png") no-repeat;
    background-size: 100%;
    height: 264px;
  }
}
@media (max-width: 1024px) {
  .slider {
    height: 164px;
    background-size: 100%;
  }
}
@media (max-width: 767px) {
  .slider {
    height: 90px;
    background-size: 100% 100%;
  }
}
