@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  display: grid;
  //grid-template-rows: 15% 1fr 1fr 1fr 5%;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  margin: 0;
  background: #000000;
  ul {
    list-style: none;
  }
  .mobil-back {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 999;
    background: #000000;
    opacity: 0.5;
  }
  .none {
    display: none;
  }

  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .button-blu {
    cursor: pointer;
    background: rgba(70,93,166,0.5);
    background: linear-gradient(to bottom, rgba(132,187,235,1) 0%, rgba(0,103,214,1) 100%);
  }
  .box-blu {
    box-shadow: 0 0 9pt 2pt rgba(118,215,230,1), inset 0 0 9pt 2pt rgba(118,215,230,1);
    border-radius: 4px;
  }
  .button-red {
    cursor: pointer;
    background: rgba(173,104,79,0.5);
    background: linear-gradient(to bottom, rgba(173,104,79,1) 0%, rgba(184,141,127,1) 0%, rgba(199,149,131,1) 19%, rgba(184,141,127,1) 39%, rgba(153,43,3,1) 83%, rgba(153,43,3,1) 100%);
  }

  .button-hover-red:hover {
    box-shadow: 0 0 9pt 4pt rgb(255, 72, 0), inset 0 0 9pt 4pt rgb(255, 72, 0);
  }
  .button-hover-blu:hover {
    box-shadow: 0 0 9pt 4pt rgba(118,215,230,1), inset 0 0 9pt 4pt rgba(118,215,230,1);
  }
  .box-red {
    border-radius: 4px;
    box-shadow: 0 0 9pt 2pt rgb(255, 72, 0), inset 0 0 9pt 2pt rgb(255, 72, 0);

  }
  .text-stile {
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0 0 5px #a54635, 0 0 10px #a54635, 0 0 15px #a54635, 0 0 20px #a54635, 0 0 30px #a54635, 0 0 40px #a54635, 0 0 20px #a54635, 0 0 20px #a54635;
    cursor: pointer;
    color: rgb(242, 222, 123);
  }

}
@media screen and (max-width: 1023px) {
  body .container {
    width: 740px;
  }
}


@media screen and (max-width: 767px) {
  body .container {
    width: 100%;
  }

}


 @media screen and (max-width: 767px) {
   .btn {
     font-family: 'Roboto Condensed', sans-serif;
     height: 30px;
     line-height: 30px;
     text-decoration: none;
     color: #ffffff;
     font-size: 14px;
     text-transform: uppercase;
     //line-height: 40px;
   }
 }


.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  //font-size: 18px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}