.top-menu-login {
  height: 82px;
  background: url("../../src/images/logo.png") no-repeat;
  background-size: 100% 100%;
  .login-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 82px;
    font-family: 'Roboto Condensed', sans-serif;

    .registration-butt {
      width: 113px;
      height: 27px;
      outline: 2px solid rgb(46, 95, 255);
      border: 2px solid rgb(129, 251, 255);
      font-size: 12px;
      color: rgb(129, 251, 255);
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
    }
    .login-input {
      width: 112px;
      height: 27px;
      margin: 0 10px;
      border-radius: 2px;
      font-style: italic;
      opacity: 0.8;
    }
    .pass-group {
      margin-top: 22px;
    }
    .forgot-pass {
      padding-left: 10px;
      text-transform: capitalize;
      font-size: 14px;
      color: rgb(162, 161, 161);
      font-style: italic;
      line-height: 1.2;
    }
    .forgot-pass:hover {
      text-decoration: none;
      color: rgb(242, 222, 123);
      text-shadow: 0 0 5px #a54635, 0 0 10px #a54635, 0 0 15px #a54635, 0 0 20px #a54635, 0 0 30px #49FF18, 0 0 40px #a54635, 0 0 20px #a54635, 0 0 20px #a54635;
    }
    .login-butt {
      width: 81px;
      height: 27px;
      border: 2px solid rgb(255, 206, 129);
      outline: 2px solid rgb(255, 72, 0);
      font-size: 17px;
      color: rgb(255, 206, 129);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
    }
  }


}
