{% from "src/nunjucks/templates/components/footer/navigation.njk" import footer_nav, payment_img %}

<footer>
	<div class="footer">
		<div class="container">
			<div class="row">

                {{ footer_nav('test') }}

				<div class="footer-payment-list">

					{{ payment_img('test') }}

					<div>
						© 2019, ALl RIGHT RESERVED
					</div>

				</div>
			</div>
		</div>
	</div>
</footer>
