{% from "src/nunjucks/templates/components/header/headerComponent.njk" import header_nav, social %}
<div class="menu">
    <div class="icon-close">
        <img src="images/close-btn.png">
    </div>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>

<div class="top-menu">
    {{ header_nav('nav-item ') }}
    <a href="" class="fast-registration text-decor">
        <span class="fast-registration-content"><img src="images/flash.png" alt="">Быстрая регистрация</span>
    </a>
    <div class="social-content">
        {{ social('nav-item social-list') }}
    </div>
    <div class="dropdown">
        <div class="dropbtn">English</div>
        <div class="dropdown-content">
            <a href="#">English</a>
            <a href="#">Русский</a>
        </div>
    </div>
</div>
<div class="mobile-menu">
    <ul class="mobile-menu-list">
        <li class="icon-menu">
            <a class="btn icon-menu" data-id=""><img src="https://img.icons8.com/ultraviolet/40/000000/menu.png"></a>
        </li>
        <li>
            <a class="btn" href="">Регистрация</a>
        </li>
        <li>
            <a class="btn" href="">войти</a>
        </li>
    </ul>
</div>
<div class="top-menu-login">
        <div class=" login-content">
            <button class="registration-butt button-blu box-blu button-hover-blu">registration</button>
            <input type="text" class="form-control login-input" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <div class="pass-container">
                <input type="password" class="form-control login-input pass-group" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                <a href="" class="forgot-pass">forgot you password?</a>
            </div>
            <button class="login-butt button-red box-red button-hover-red">login</button>
        </div>
</div>
