{% extends "index.njk" %}
{% set navActiveItem = 0 %}
{% set title = "Nunjucks + Gulp!" %}

{% block content %}
    <div class="col-md-12">
        <div class="page-header">
            <h2>Это главная страница!</h2>
        </div>
        <div class="page-content">
            <p>А здесь можно разместить текст-рыбу!:)</p>
        </div>
    </div>
{% endblock %}
