{% set winList = [
    {
        url: 'images/ghotic.png',
        game: 'ghotic',
        count: '185.00$',
        playerName:'PlayerName'
    },
    {
        url: 'images/thrones.png',
        game: 'game of thrones',
        count: '185.00$',
        playerName:'PlayerName'
    },
    {
        url: 'images/robyn.png',
        game: 'robyn',
        count: '185.00$',
        playerName:'PlayerName'
    },
    {
        url: 'images/ghotic.png',
        game: 'ghotic',
        count: '185.00$',
        playerName:'PlayerName'
    },
    {
        url: 'images/thrones.png',
        game: 'game of thrones',
        count: '185.00$',
        playerName:'PlayerName'
    },
    {
        url: 'images/robyn.png',
        game: 'robyn',
        count: '185.00$',
        playerName:'PlayerName'
    }
] %}

{%  macro winerCarousel (class) %}
    <div class="{{ class }}">
        {% for items in winList %}
            <div class="win-card">
                <div class="win-card-img">
                    <img src="{{ items.url }}" alt="">
                </div>
                <div class="win-card-info">
                    <div class="win-game">{{ items.game }}</div>
                    <div class="win-value">{{ items.count }}</div>
                    <div class="win-name">{{ items.playerName }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
